__pycache__/
*.py[cod]
build/
dist/
*.obj
*.map
*.out
*.bin
.project
.cproject
.settings/
firmware/main_tirtos.c
firmware/pressure_sensor.c
firmware/pressure_sensor.h
firmware/nortos_gcc/README.html
firmware/nortos_gcc/README.md
firmware/nortos_gcc/ccs/
firmware/nortos_gcc/iar/
